.datepicker {margin-left: 25%;width: 55%;}
.jqContainer{height: 80%; margin: 5% 8%; width: 86%;}
.mar3{margin-left : 3%;}
.paramsSelected{margin: 2% 0 0 2%;width: 35%;}
.westPane{width: 30%;}
.northPane{height: 30%;}
.graphIcon{float:right;margin-right: 2%;}
